.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.child {
  background-color: azure;
  border-radius: 0.5rem;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
